spring:
  application:
    name: examen
  datasource:
    url: jdbc:postgresql://localhost:5433/bd_examenp2
    username: postgres
    password: 12345
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8080